#options {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: #fff;
    z-index: 999;
    overflow: hidden;
}

.explorerModel {
    background-color: #eee;
}

.explorerModelSelected {
    background-color: #ccc;
}